html {
    scroll-behavior: smooth;
  }
body, html {
  font: 400 15px/1.8 "Lato", sans-serif;
  margin: 0;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
ul {
  margin: 0;
  padding: 0px;
}
li{
  display: inline;
  margin: 20px;
}
a {
  text-decoration: none;
  color: #fff;
  padding: 18px;
  font-size: 17px;
  letter-spacing: 5px;
}
h1, h2, h3 {
  text-align: center;
}
a {
  text-decoration: none;
}
h1{
    font-family: cheap-pine, sans-serif;
    font-weight: 400;
    font-size: 700%;
    color: darkslategray;
    font-style: normal;
    margin: 0px;
}

ul.info {
  text-align: center;
}
ul.info li{
    display: inline;
    margin-right: 10px;
    border-width: 2px;
    border-top: 2px;
    padding: 15px;
    font-family: 'Bebas Neue', cursive;
    /*list-style-position: inside;*/
}


.nav > ul > li{
    display: inline-block;
    position: relative;
}

.nav > ul > li > a{
    color: black;
}


.nav > ul > li > a:hover{
    border: 3px solid darkslategray;
    margin: -3px;
    color: darkslategray;
}
.nav a.active {
    background-color: darkslategray;
    color: white;
}
.nav a.active:hover {
  color: white;
}

/*13:18*/
div.nav{
  border: 1px solid black;
}
/*Home ids*/
#tema2 {
  color: #777;
  background-color:white;
  text-align:center;
  padding:50px 80px;
  text-align: justify;
}
/*Home classes*/
.bg1, .bg2, .bg3{
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg1 {
  background-image: url(Images/walkingStudent.jpg);
  min-height: 100%;  
}
.bg2 {
  background-image: url(Images/Technical-Innovation.png);
  min-height: 400px;
}
.bg3 {
  background-image: url(Images/fun.jpg);
  min-height: 400px;
}
.tema {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: rgb(0, 0, 0);
}
.tema span.border {
  background-color: darkslategray;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.footer{
  padding-top: 10px;
  margin-top: 20px;
}


.footer-col{
  width: 25%;
  padding: 0 15px;
  padding-left: 15px;
  padding-right: 30px;

}

.footer-col h4{
  font-family: 'Bebas Neue', cursive;
  color: white;
  text-transform: capitalize;
  font-size: 18px;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before{
  content: " ";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: orange;
  height: 2px;
  align-self: auto;
  box-sizing: border-box;
  width: 70px;

}


.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  display: block;
}

.footer-col ul li a:hover{
  color: white;
  padding-left: 8px;

}

.footer-col > .social-links > a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 3px 3px 3px 3px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5 ease;
  padding: 10px;
}

.nedre{
  padding-right: 150px;

}

.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;


}
.footer{
  background-color: rgb(183, 184, 155);

}
.sosiale-links{
  justify-content: center;
  text-align: center;
  justify-items: center;
}
.konteiner{
  max-width: 1170px;
  margin: auto;
  padding-top: 20px;
  font-family:'Bebas Neue', cursive;
}
.row1{
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 915px) {
  div.nav > ul > li > a {
    margin: 0px;
    padding: 2px;
    font-size: 9px;
    letter-spacing: 1.5px;
  }
  div.nav > ul > li {
    margin: 0px;
  }
  h1, h1.second1 {
    font-size: 40px;
  }
  .footer-col > .social-links > a{
    height: 30px;
    width: 30px;
    margin: 0px;
  }
}
